* {
  box-sizing: border-box;
  background-color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #45545f; }

table {
  border-collapse: collapse;
  margin: 15px 0px 0px 0px;
  width: 100%;
  position: relative; }
table td {
  padding: 0; }
table td.left {
  padding-right: 15px; }
table td.right {
  padding-left: 15px; }
table td .product-item {
  width: 100%;
  border-bottom: 1px solid #45545f;
  padding: 0px 0px 15px 0px;
  margin: 0px 0px 20px 0px; }
table td .product-item .product-picture {
  width: 100%;
  height: 250px;
  background: lightblue; }
table td .product-item .product-info {
  text-align: center;
  padding: 8px 0px 8px 0px; }
table td .product-item .status {
  text-align: center;
  position: absolute;
  width: 10%;
  padding: 3px 0px 3px 0px;
  background-color: #45545f;
  color: white; }
table td .product-item .color-chooser {
  margin: auto;
  width: 18px;
  height: 18px;
  border: 0.5px solid #45545f; }
table td .product-item .color-chooser .fill-square {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
  width: 12px;
  height: 12px;
  background-color: black; }

.container {
  margin: auto;
  width: 50%; }
.container .nav {
  padding: 0px 15px 0px 15px;
  top: 0;
  width: 100%;
  height: 28px;
  position: relative;
  border-bottom: 1px solid #45545f; }
.container .nav > a {
  float: left;
  position: relative;
  top: 5px;
  color: #45545f;
  margin: 0px 20px 0px 20px;
  padding: 3px 0px 3px 0px;
  text-decoration: none; }
.container .nav > a.selected {
  border-bottom: 2.5px solid #45545f; }
.container .path {
  float: left;
  width: 100%;
  padding: 20px 0px 20px 15px; }
.container .path .item {
  float: left;
  color: #45545f;
  padding-right: 12px; }
.container .path .item.borderline {
  font-size: 10px;
  padding-left: 12px;
  border-left: 1px solid #45545f; }
.container .aside {
  float: left;
  width: 20%;
  padding-left: 15px; }
.container .aside .category-item {
  width: 100%;
  border-bottom: 1px solid #455660;
  padding: 10px 5px 10px 0px; }
.container .aside .category-item .icon {
  float: right;
  color: #45545f; }
.container .aside .category-item > ul {
  margin: 0;
  list-style-type: none;
  padding: 5px 0px 0px 0px; }
.container .aside .category-item > ul li {
  padding: 5px 0px 5px 0px; }
.container .aside .category-item > ul li > .price-item {
  font-size: 12px; }
.container .aside .category-item > ul li > .price-item input {
  display: none; }
.container .aside .category-item > ul li > .price-item span {
  top: 1px;
  height: 9px;
  width: 9px;
  margin-right: 3px;
  border: 1px solid #45545f;
  display: inline-block;
  position: relative; }
.container .aside .category-item > ul li > .price-item [type=checkbox]:checked + span:before {
  content: '\2714';
  position: absolute;
  top: -5px;
  left: 0; }
.container .aside ul {
  margin: 0;
  list-style-type: none;
  padding: 0px 0px 30px 0px; }
.container .aside ul.inner-product-menu {
  padding: 0px 0px 0px 15px; }
.container .aside ul > li {
  font-family: 10px;
  padding: 5px 0px 5px 0px; }
.container .content {
  padding-left: 30px;
  float: left;
  width: 80%; }
.container .content .title {
  font-size: 14px;
  padding: 10px 0px 10px 0px; }
.container .content .title-picture {
  width: 100%;
  height: 185px;
  background: lightblue; }
.container .content .title-description {
  line-height: 20px;
  padding: 15px 0px 15px 0px; }
.container .content .sort-section {
  width: 100%;
  position: relative;
  height: 60px;
  padding: 20px 0px 20px 0; }
.container .content .sort-section > p {
  padding: 5px 15px 0px 0px;
  float: right; }
.container .content .sort-section .sort-chooser {
  float: right;
  height: 25px;
  border: 1px solid #808080;
  content: "";
  background: #FFF; }

p {
  margin: 0px; }

.control {
  padding: 5px 0px 0px 0px;
  width: 100%; }
.control .quick-view {
  font-size: 10px;
  width: 49%;
  padding: 10px 15px;
  border: 0px;
  color: #fff;
  background: #45545f; }
.control .quick-view .icon {
  color: white;
  margin-right: 5px;
  background-color: #45545f; }
.control .add-cart {
  font-size: 10px;
  width: 49%;
  padding: 10px 15px;
  border: 0px;
  color: #fff;
  background: #79b93e; }
.control .compare-item-container {
  float: left;
  width: 49%;
  border-right: 1px solid #45545f; }
.control .compare-item-container .compare-item {
  font-size: 10px; }
.control .compare-item-container .compare-item input {
  display: none; }
.control .compare-item-container .compare-item span {
  top: 1px;
  height: 9px;
  width: 9px;
  margin-right: 3px;
  border: 1px solid #45545f;
  display: inline-block;
  position: relative; }
.control .compare-item-container .compare-item [type=checkbox]:checked + span:before {
  content: '\2714';
  position: absolute;
  top: -5px;
  left: 0; }
.control .add-wishlist {
  font-size: 10px;
  position: relative;
  right: -7px; }
.control .add-wishlist input[type="checkbox"], .control .add-wishlist .checked {
  display: none; }

/*# sourceMappingURL=sofas.css.map */
